@inject Translator Translator

<div class="user-info ml-3">
    <span>@Translator["SignOut"]</span>
    <AuthorizeView>
        <Authorizing>
            <text>...</text>
        </Authorizing>
        <Authorized>
            <div>
                <strong>@context.User.Identity.Name</strong>
                <a class="clickable" href="@context.User.FindFirst("bff:logout_url")?.Value">@Translator["SignOut"]</a>
            </div>
        </Authorized>
        <NotAuthorized>
            <a class="sign-in" href="bff/login">@Translator["LogIn"]</a>
        </NotAuthorized>
    </AuthorizeView>
</div>

@code {
}
